<div class="panel panel-white">
  <div class="panel-body mailbox-content">
    <table class="table">
      <thead>
        <tr>
          <th colspan="1" class="hidden-xs">
            <span><input type="checkbox" class="check-mail-all"></span>
          </th>
          <th class="text-right" colspan="5">
            <span class="text-muted m-r-sm">Showing 20 of 346
            </span>
            <a class="btn btn-default m-r-sm" title="Refresh">
              <i class="fa fa-refresh"></i>
            </a>
            <div class="btn-group m-r-sm">
              <a class="btn btn-default" title="Delete">
                <i class="fa fa-trash"></i>
              </a>
              <a class="btn btn-default" title="Report Spam">
                <i class="fa fa-exclamation-circle"></i>
              </a>
              <a class="btn btn-default" title="Mark as Important">
                <i class="fa fa-star"></i>
              </a>
              <a class="btn btn-default" title="Mark as Read">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
            <div class="btn-group m-r-sm">
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-tags"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="inbox.html#">Work</a></li>
                  <li><a href="inbox.html#">Family</a></li>
                  <li><a href="inbox.html#">Social</a></li>
                  <li class="divider"></li>
                  <li><a href="inbox.html#">Primary</a></li>
                  <li><a href="inbox.html#">Promotions</a></li>
                  <li><a href="inbox.html#">Forums</a></li>
                </ul>
              </div>
            </div>
            <div class="btn-group">
              <a class="btn btn-default">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="btn btn-default">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs"><i class="fa fa-star icon-state-warning"></i></td>
          <td class="hidden-xs">Google</td>
          <td>Nullam quis risus eget urna mollis ornare vel eu leo</td>
          <td></td>
          <td>21 march</td>
        </tr>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs"><i class="fa fa-star icon-state-warning"></i></td>
          <td class="hidden-xs">Themeforest</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
          <td></td>
          <td>20 march</td>
        </tr>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs"><i class="fa fa-star icon-state-warning"></i></td>
          <td class="hidden-xs">Adobe</td>
          <td>Nullam quis risus eget urna mollis ornare vel eu leo</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>18 march</td>
        </tr>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star icon-state-warning"></i>
          </td>
          <td class="hidden-xs">
            Apple
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td>
            <i class="fa fa-paperclip"></i>
          </td>
          <td>
            14 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Microsoft
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td>
            <i class="fa fa-paperclip"></i>
          </td>
          <td>
            11 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Microsoft
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            11 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Microsoft
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Microsoft
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star icon-state-warning"></i>
          </td>
          <td class="hidden-xs">
            Microsoft
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star icon-state-warning"></i>
          </td>
          <td class="hidden-xs">
            Themeforest
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Themeforest
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Themeforest
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Dropbox
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Dropbox
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Twitter
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Twitter
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star icon-state-warning"></i>
          </td>
          <td class="hidden-xs">
            Twitter
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td>
            <i class="fa fa-paperclip"></i>
          </td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Twitter
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="unread">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Themeforest
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
        <tr class="read">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star"></i>
          </td>
          <td class="hidden-xs">
            Themeforest
          </td>
          <td>
            Nullam quis risus eget urna mollis ornare vel eu leo
          </td>
          <td></td>
          <td>
            6 march
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
