<main class="page-content content-wrap">
  <header></header>
  <div class="page-inner">
      <div id="main-wrapper" class="container">
          <div class="row m-t-md">
              <div class="col-md-2">
                <ul class="list-unstyled mailbox-nav">
                    <li class="active"><a [routerLink]="['/inbox']"><i class="fa fa-inbox"></i>Inbox <span class="badge badge-success pull-right">4</span></a></li>
                    <li><a><i class="fa fa-sign-out"></i>Sent</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-file-text-o"></i>Draft</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-exclamation-circle"></i>Spam</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-trash"></i>Trash</a></li>
                </ul>
                <ul class="list-unstyled mailbox-nav">
                    <li class="active"><a [routerLink]="['/inbox']"><i class="fa fa-inbox"></i>Inbox <span class="badge badge-success pull-right">4</span></a></li>
                    <li><a><i class="fa fa-sign-out"></i>Sent</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-file-text-o"></i>Draft</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-exclamation-circle"></i>Spam</a></li>
                    <li><a href="inbox.html#"><i class="fa fa-trash"></i>Trash</a></li>
                </ul>
              </div>
              <div class="col-md-10">
                <router-outlet></router-outlet>
              </div>
          </div>
      </div>
      <footer></footer>
  </div>
</main>
