<div class="navbar">
  <div class="navbar-inner container">
    <div class="sidebar-pusher">
      <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="logo-box">
      <a href="index.html" class="logo-text"><span>Stubmail 2.0</span></a>
    </div>
    <div class="search-button">
      <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
    </div>
  </div>
</div>
